src/config/version.h
src/include/version.h
CMakeCache.txt
CMakeFiles/
Makefile
bin/
cmake_install.cmake
cscope.files
cscope.out
~*
*.swp
src/config/compile.h
coverage
server.core
src/include/config/cmake_config.h
